{% extends "admin/filer/change_form.html" %}
{% load static %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript">
    var $ = django.jQuery;
    $(document).ready(function(){
        $('<ul class="object-tools"><li><a class="historylink" href="{% url "admin:cmsplugin_filer_image_translated_imagetranslation_change" original.translation.id %}" target="_blank">Update translations</a></li></ul>').insertAfter('#content h1');
    })
</script>
{% endblock %}
